<div class="back">

    <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h1  style="text-align: center;">Welcome to ABC Bank {{acno}}</h1>
        </div>
        <div class="col-4"></div>



      </div>



      <div class="div-centeruser">


        <div class="content">
          <form>
            <div class="mb-3">
              <label for="Account NO" class="form-label">Account No:</label>
              <input id="acno" type="text" class="form-control">
              <div id="emailHelp" class="form-text">We'll never share your account number with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="pwd">
            </div>
            <div class="mb-3">
              <label for="Amount" class="form-label">Amount</label>
              <input type="text" class="form-control" id="amt">
            </div>


            <button type="button" onclick="Bank.deposit()" class="btn btn-primary">Deposit</button>
            <button type="button" onclick="Bank.withdraw()"  class="btn btn-primary">Withdraw</button>
          </form>
        </div>


      </div>




    </div>