<form [formGroup]="registerform" (ngSubmit)="registers()">
  <div class="back">
    <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h1 style="text-align: center;">Welcome to ABC Bank Registration</h1>
        </div>
        <div class="col-4"></div>
      </div>

      <div class="div-center">


        <div class="content">

          <div class="mb-3">
            <label for="Account NO" class="form-label">Account No:</label>
            <input formControlName="acno" id="acno" type="text" class="form-control">
            <div *ngIf="this.registerform.get('acno')?.touched&&this.registerform.get('acno')?.errors&&this.registerform.get('acno')?.dirty" style="color: red;" >Invalid Account Number</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="pwd" name="pwd" type="password" class="form-control" id="pwd">
          </div>

          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>

</form>